	/*
  	Flaticon icon font: Flaticon
  	Creation date: 29/07/2019 07:49
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 35px;
font-style: normal;
margin-left: 0px;
}

.flaticon-art:before { content: "\f100"; }
.flaticon-monitor:before { content: "\f101"; }
.flaticon-glasses:before { content: "\f102"; }
.flaticon-youtube:before { content: "\f103"; }
.flaticon-touch:before { content: "\f104"; }
.flaticon-interaction:before { content: "\f105"; }
.flaticon-vector:before { content: "\f106"; }
.flaticon-contact:before { content: "\f107"; }
.flaticon-profile:before { content: "\f108"; }
.flaticon-notebook:before { content: "\f109"; }
.flaticon-chat:before { content: "\f10a"; }
.flaticon-download:before { content: "\f10b"; }
.flaticon-checked:before { content: "\f10c"; }
.flaticon-right-arrow:before { content: "\f10d"; }
.flaticon-back:before { content: "\f10e"; }